<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Brightflag Code Test</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="js/main.js"></script>

</head>
<body ng-app="bfCodeTest">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">BF Code Test</a>
	</nav>

	<div id="studentTable" ng-controller="studentCtrl" class="container">

		<table class="table">
			<tr>
				<th>Student ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Subjects</th>
			</tr>
			<tr ng-repeat="student in students">
				<td>{{student.studentID}}</td>
				<td>{{student.firstName}}</td>
				<td>{{student.lastName}}</td>
				<td><div ng-repeat="subject in student.subjects">{{subject.subjectName}}</div></td>
			</tr>
		</table>
	</div>
	<!-- Enrollment Section -->
	<div class="container">

		<h4>Enrollment</h4>
		<div ng-controller="enrollmentCtrl">
			<label style="font-weight: bold;">Student: </label>
				<select style="margin-right: 15px;" ng-options="student.studentID as '['+ student.studentID +'] ' + student.firstName + ' '
				+ student.lastName for student in students track by student.studentID" ng-model="select.studentID"></select>
			<label style="font-weight: bold;">Subject: </label>
				<select style="margin-right: 15px;" ng-options="subject.subjectID as '['+ subject.subjectID +'] ' + subject.subjectName
				for subject in subjects track by subject.subjectID" ng-model="select.subjectID"></select>
			<input type="submit" ng-click="enroll(select)" value="Enroll" />
		</div>

	</div>

</body>
</html>